# Local Terraform cache
**/.terraform/

# Local Terragrunt cache
**/.terragrunt-cache/*

# This is a small example, so we don't need Terraform lock files.
**/.terraform.lock.hcl

# .tfstate files. in case an apply was run locally. 
**/*.tfstate
**/*.tfstate.*

# Vim swap files
**/*.swp
**/*.swo
